{% extends "bootstrap/base.html" %}

{% block scripts %}
  {{ super() }}
  {% assets "js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">FunkTown</a>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="container main-container">
    <div class="row">
      {% block main %} {% endblock %}
    </div>
  </div>
{% endblock %}

